$btn-bg: #ffffff;
$bg: #F9F8FB;
$content: #989BB4;
$primary: #14132B;
$secondary: #7863F9;
$checklist: #EE9C50;

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600&display=swap');

* {
    font-family: 'Source Sans 3', sans-serif;
}